body {
  font-family: 'Lato', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 1.0;
  font-weight: bold;
}
.hr-text:before {
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(#495057), color-stop(#495057), color-stop(#495057), color-stop(#495057), to(#495057));
  background: linear-gradient(to right, #495057, #495057,#495057,#495057, #495057);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #495057;
  background-color: #FFF;
}

.product-section h4 , .card-section h4, .address-section h4, .order-details-section h4, .order-section h4 {
  font-weight: bold;
  display: inline-block;
  font-size: 100%;
}

.product-section legend, .card-section p, .address-section p, .order-date {
  font-style: oblique;
  font-size: 100%;
}

.ingredient-list {
  font-style: italic;
}

.product-type-text {
  font-style: italic;
}

.label-personalize {
  font-size: 80%;
}

.product-price {
  font-size:  100%;
}

.btn-remove-from-cart {
	color: red; 
}

div.product-separator {
  width: 100%; 
  height: 0px;
  border-bottom: 1px solid rgba(133, 133, 133, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
}

#txbProvince {
  text-transform:uppercase;
}
#txbProvince::placeholder { /* Recent browsers */
  text-transform: none;
}



/* Start Footer CSS */
.footer-content  h1 {
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
}
.footer-content  p {
    color: white;
    margin-bottom: 1%;
    font-size: 12px;
}

.footer-content  a {
  color: white !important;
}

.bottom-info {
    /*color: #666;*/
    color: white;
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 10px;
}


#footer-area {
  margin-top: 10%;
  padding-top: 2%;
  
  background-color: #343A40;  
}


#fb {
    background-color: #3B5998;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
}

#tw {
    background-color: #55ACEE;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
}

#gplus {
    background-color: #DD4B39;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
}

/* End Footer CSS */


/* Start infinite scrolling animation */

.loader-ellips {
  font-size: 10px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #555; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}

/* End infinite scrolling animation */


